<h3>スケジュール新規作成</h3>

 <% if flash.notice%>
<p class="notice"><%= flash.notice %></p>
<%end%>


 <%= render "shared/error", obj: @task %>

 <%= form_for @task do |f| %>
      <table>
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :startdate ,"開始日" %></th>
          <td><%= f.date_field :startdate %></td>
        </tr>
       <tr>
          <th><%= f.label :finishtime ,"終了日" %></th>
          <td><%= f.date_field :finishtime %></td>
        </tr>

          <th><%= f.label :allday ,"終日" %></th>
          <td><%= f.check_box :allday %><br><p>終日の場合はチェックを入れます</p></td>
        </tr>
         <tr>
          <th><%= f.label :memo ,"スケジュールメモ" %></th>
          <td><%= f.text_area  :memo %></td>
        </tr>
      </table>
      <div>
            <ul>
                <li><%= f.submit "スケジュールを新規登録する"%></li>
                <li><%= link_to "スケジュール一覧に戻る", :tasks , class:"link" %></li>
            </ul>
      </div>
    <% end %>